*{
    margin:0;
    padding:0;
}
body{
    /* background-color: rgb(241, 177, 177);
     */
     background-image:url(images.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.dropdown{
    margin: 0 auto;
}
nav ul{
    float: left;
    margin-left: 30px;
}
nav ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    background: rgb(221, 164, 176);
}
nav ul li a {
    display: block;
    padding: 0px 31px;
    color: #eee;
    text-decoration: none;
    line-height: 33px;
    font-size: 27px;
}
.MENU {
    font-size: 3 px;
    width: 124px;
   
    }
    .MENU li a{
        font-size: 15px;
        width: 100px;
    }
    .Menu1 li a{
        padding: auto;
        width: 124px;
        font-size: 15px;

    }
/* .navbar{
    height: 33px;
    display: flex;
    background-color: rgb(245, 80, 113);
    color:white;
    background-color: rgb(245, 128, 151) (252, 152, 152);
list-style: none;} */

.navbar li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 24px;

}
.navbar{
    text-decoration: none;
}
#myCanvas{
width: 800;
     height:400;
    border:1px solid #000000;
     
    margin: 175px 50px 50px 30px;
    /* background-color: rgb(240, 161, 177); */
}
 

.navbar ul li a:hover{
    background: rgb(219, 167, 167);
}

.navbar ul ul{
position: fixed;
display: none;
top: 60px;
}
.navbar ul li:hover > ul{
    display: block;
}
.navbar ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.btn{
    border-radius: 10px;
    font-size: 20px;
    width:100px;
    padding: 9px;
    margin: 5px;
    background: black;
    color: white;
    margin-left: 800px;
}