*{
    margin: 0px;
    padding: 0px;
    /* font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-family: 'Quicksand', sans-serif;
}

h1{
    text-align: center;
    line-height: 1.5;
    color: #475dc0;
    font-weight: bold;
    font-size: 30px;
}

#box{
    background-color: #f1faee;
}

/* Divs */
.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inputs */
label{
    margin: 0.5rem 1rem;
    font-weight: bold;
    font-size: 20px;
}

#inner-radio{
    padding: 10px;
    font-weight: bold;
}

#radio-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.clickable{
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

canvas{
    width: 100%;
    padding: 50px;
    background-color:#f1faee;
}

.form-group #select-box , .label_button , .button-container button{
    color:#fff;
    font-size: 20px !important;
    font-weight: bold !important;
    background-color: #4e1f56b0 !important;
    border: 1px solid #4e1f56b0 !important; 
}
.label_button:hover , .button-container button:hover{
    color: #0652c5;
}
input[type=number]{
    font-size: 15px !important;
    font-weight: bold !important;
}