{% extends 'base.html' %}

{% block title %}
    Data
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>S. NO.</th>
            <th>Brands</th>
            <th>Names</th>
            <th>Rating</th>
            <th>Total Rating</th>
            <th>Cost Price (in &#x20B9;)</th>
            <th>Selling Price (in &#x20B9;)</th>
            <th>Discount (in &#x20B9;)</th>
            <th>Links</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.brands }}</td>
            <td>{{ row.names }}</td>
            <td>{{ row.rating }}</td>
            <td>{{ row.total_rating }}</td>
            <td>{{ row.cost_price }}</td>
            <td>{{ row.selling_price }}</td>
            <td>{{ row.discount }}</td>
            <td><a href="{{ row.links }}">Link</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}

