{% extends 'base.html' %}
{% load static %}

{% block title %}
Scrapper
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "master.css" %}">

{% endblock %}

{% block content %}

    {% comment %} <nav class="navbar">
        <ul>
            <li> <a href="#categories">Categories</a>
            <li><a href="#">Brands</a> </li>
        </ul>
    </nav> {% endcomment %}
    <header class="clearfix">
    <div class="container">
			<div class="header-left">
				<h1>Amazon Scraper</h1>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				<input type="checkbox" name="" id="open">
				<nav>
					<a href="#">Home</a>
					<a href="#">Contact</a>
				</nav>
			</div>
		</div>
	</header>

    <section id="categories">
      <div id='block'>
        <form action="{% url 'see-data' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name: </label>
                <input required name='name' type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="cat">Category:</label>
                <input required name='cat' type="text" class="form-control" id="cat" placeholder="Category">
            </div>
            <div class="form-group">
                <label for="pages">Pages</label>
                <input required name='pages' type="number" id='pages' class="form-control" placeholder="5">
            </div>
            <div id='form-field'>
                <label for="fast">Fast Scrap (Reduced Data): </label>
                <input id="fast" type="radio" name="radio" value="fast" required="required">
                <br>
                <label for="slow">Slow Scrap (More Data): </label>
                <input id="slow" type="radio" name="radio" value="slow" required="required">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </section>
    <!-- <marquee behavior="scroll" direction="left" scrollamount="12">
        <p> universal </p>
    </marquee> -->
{% endblock %}