{% extends 'base.html'%}
{% load static %}

{% block title %}Visualization{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "style.css" %}">
{% endblock %}

{% block content %}
    <div id='box'>
        <h1>Visualizer</h1>
            {% comment %} Select Box for type of plot {% endcomment %}
        <div class="form-group">
            <label for="select-box">Type Of Chart </label>
            <select id='select-box' class='btn btn-danger dropdown-toggle '>
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="polarArea">Polar Chart</option>
                <option value="doughnut">Doughnut chart</option>
                <option value='horizontalBar'>Horizontal Bar Chart</option>
            </select>
            <label for="row">Number of rows (max 20)</label>
            <input required name='row' type="number" id='rows' value='10'>
        </div>

        <div id='radio-block'>    
            <div class='form-group'>
                <label class='btn btn-danger'>Column: </label>
                <div id='inner-radio' >
                    <label for="rating">Rating</label>
                    <input checked id="rating" value="rating" type="radio" name="radio" required="required">
                    <label for="totRat">Best Seller (Total Ratings)</label>
                    <input id="totRat" value="total_rating" type="radio" name="radio" required="required">
                    <label for="cp">Cost Price</label>
                    <input id="cp" value="cost_price" type="radio" name="radio" required="required">
                    <label for="sp">Selling Price</label>
                    <input id="sp" value="selling_price" type="radio" name="radio" required="required">
                </div>
            </div>
            <div class='form-group'>
                <label class='btn btn-danger'>Column: </label>
                <div id="inner-radio">
                    <label for="asc">Ascending</label>
                    <input checked id="asc" value="asc" type="radio" name="sort" required="required">
                    <label for="desc">Descending</label>
                    <input id="desc" value="desc" type="radio" name="sort" required="required">
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" required name='name' type="text" id="name" value={{name}}>
        </div>
        
        
        <div class='button-container'>
            <button onclick='postData()' class="btn btn-danger clickable">Show Visualisation</button>
            <button onclick='clearChart()' class="btn btn-danger clickable">Clear</button>
            <button onclick='download()' class="btn btn-danger clickable">Download</button>
        </div>
    </div>

    <div class="box">
    <canvas id="myCanvas" margin:10%;></canvas>
    </div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/5.0.20210201/Blob.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    var endpoint = '{% url 'api-getdata' %}';    
    
    function makeChart(plotType, names, plotData, numOfRows, radio){
        var myChart = new Chart(document.getElementById('myCanvas'), {
            type: plotType,
            data: {     
                labels: names,
                datasets: [
                    {
                        label: radio,
                        backgroundColor:  [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(255, 159, 64, 0.5)',
                            'rgba(255, 205, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(201, 203, 207, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(255, 159, 64, 0.5)',
                            'rgba(255, 205, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(201, 203, 207, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(255, 159, 64, 0.5)',
                            'rgba(255, 205, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(153, 102, 255, 0.5)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)'
                        ],
                        data: plotData
                    }
                ]
            },
            options: {
                legend: { display: true },
                title: { 
                    display: true,
                    text: 'Top '+numOfRows +' Products According To '+radio,
                    fontSize: 40
                },
                responsive: true,
                scales: {
                    xAxes: [ {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Names',
                        fontSize: 40
                    },
                    ticks: {
                        major: {
                        fontStyle: 'bold',
                        fontColor: '#FFFFFF',
                        }
                    }
                    } ],
                    yAxes: [ {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: radio,
                        fontSize: 40
                    }
                    } ]
                }
            }
        });
    }

function clearChart(){
   location.reload(true);
}

function download(){
    $('#myCanvas').get(0).toBlob(function(blob) {
        saveAs(blob, 'chart1.png');
    });
}

function checkRadio(){
    var rating = document.getElementById('rating');
    var totRat = document.getElementById('totRat');
    var cp = document.getElementById('cp');
    var sp = document.getElementById('sp');
    var radio = null;
    var to_asc = null;
    var asc = document.getElementById('asc');
    var desc = document.getElementById('desc');

    if(rating.checked == true)
        radio = rating.value;
    else if(totRat.checked == true)
        radio = totRat.value;
    else if(cp.checked == true)
        radio = cp.value;
    else if(sp.checked == true)
        radio = sp.value;

    if(asc.checked == true)
        to_asc = true;
    else if(desc.checked == true)
        to_asc = false;
    return [radio, to_asc];
}

function postData() {
    var select = document.getElementById('select-box');
    var typeOfPlot = select.options[select.selectedIndex].value;
    var row = document.getElementById('rows').value;
    [radio, to_asc] = checkRadio();    
    if(row > 20){
        alert('Enter value under 20. Number of columns reduced to 20.');
        row = 20;
    };

  const response = fetch(endpoint, {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
  },
    body: JSON.stringify({
        name: "{{name}}",
        rows:row,
        radio: radio,
        to_asc: to_asc,
    }),
  }).then(function(response) {
        return response.json();
    })
    .then(function(data) {
        d = JSON.parse(data);
        console.log(d);
        var names = Object.values(d.names);
        var plotData = Object.values(d[radio]);
        radio = radio.charAt(0).toUpperCase() + radio.substr(1).toLowerCase()
        makeChart(typeOfPlot, names, plotData, row, radio);
    });
};


</script>
{% endblock %}