{% extends 'base.html'%}
{% load static %}

{% block title %}Visualization{% endblock %}
{% comment %} {% block css %}
    <link rel="stylesheet" href="{% static 'visualize/style.css' %}">
{% endblock %} {% endcomment %}

{% block content %}
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#home"> Plot</a></li>
            <li><a href="#selection"> Selection</a></li>
            <li><a href="#dpi"> DPI</a></li>
            <li><a href="#download"> Download</a></li>
        </ul>
    </nav>
{% comment %} 
    <form action="{% url 'api-getdata' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" required name='name' type="text" id="name" value={{name}}>
            </div>
            <button type="submit">Submit</button>
    </form> {% endcomment %}

    <button onclick='postData()'>Click</button>

    <div class="container">
    <canvas id="myCanvas" class='col-sm' margin:30%;></canvas>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    var endpoint = '{% url 'api-getdata' %}';

    function makeChart(ctype){
        new Chart(document.getElementById('myCanvas'), {
            type: ctype,
            data: {
                labels: ['a', 'b', 'c', 'd'],
                datasets: [
                    {
                        label: 'Population (millions)',
                        backgroundColor: ["#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                        data: [30, 20, 30, 0]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: { 
                    display: true,
                    text: 'Predicted world pop'
                }
            }
        });
    }


function postData() {
  const response = fetch(endpoint, {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
  },
    body: JSON.stringify({name: "{{name}}"}),
  }).then(function(response) {
        return response.json();
    })
    .then(function(data) {
        console.log(data);
    })
}

// postData(endpoint , { name: '{{name}}' });


    {% comment %} function getCreateChart (){
        fetch(endpoint, {
            method: 'POST',
            body:{'name': '{{name}}'},
        }).then(response => console.log(response));
    } {% endcomment %}

{% comment %} 
    $.ajax({
        type: 'POST',
        url: endpoint,
        data: { 'name' : '{{name}}'},
        success: function(data){
            d = JSON.parse(data);
            console.log(d);
            makeChart(d.type);
        },
        error: function(error_data){
            console.log('Error')
            console.log(error_data);
        }
    })   {% endcomment %}
</script>
{% endblock %}