{% extends 'base.html'%}
{% load static %}

{% block title %}Visualization{% endblock %}
{% comment %} {% block css %}
    <link rel="stylesheet" href="{% static 'visualize/style.css' %}">
{% endblock %} {% endcomment %}

{% block content %}
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#home"> Plot</a></li>
            <li><a href="#selection"> Selection</a></li>
            <li><a href="#dpi"> DPI</a></li>
            <li><a href="#download"> Download</a></li>
        </ul>
    </nav>
{% comment %} 
    <form action="{% url 'api-getdata' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" required name='name' type="text" id="name" value={{name}}>
            </div>
            <button type="submit">Submit</button>
    </form> {% endcomment %}


    <canvas id="myCanvas" width="500" height="300" style="border:1px solid #000000" margin: auto ;>
    </canvas>
<script src="{% static 'jquery.min.js' %}"></script>
<script>
    var endpoint = '{% url 'api-getdata' %}';
    $.ajax({
        type: 'POST',
        url: endpoint,
        data: { 'name' : '{{name}}'},
        success: function(data){
            console.log(data)
            //console.log(data);
        },
        error: function(error_data){
            console.log('Error')
            console.log(error_data);
        }
    })
</script>
{% endblock %}